#window {
  text-align: center;
  border: 0px;
  margin-top: 0px;
  padding: 0px;
  justify-content: center;
  border: 1px solid;
  width: 190px;
  height: 600px;
  overflow: hidden;
}

#imageSlider {
  display: flex;
  transform: translateX(-000px);
  animation: anime 20s infinite;
}

#h2 {
  text-align: center; 
  display: flex; 
  justify-content: space-evenly;

}

img {
  width: 190px;
  height: 190px;
}

@keyframes anime{
  
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-379px);
  }
  
  100% {
    transform: translateX(0px);
  }
}


